:root{
    /* CSS HEX */
--white: #FFFFFFff;
--selective-yellow: #FEB827ff;
--azul: #006AB7ff;

/* CSS HSL */
--white: hsla(0, 0%, 100%, 1);
--selective-yellow: hsla(40, 99%, 57%, 1);
--azul: hsla(205, 100%, 36%, 1);
}
.hidden {
    width: 90%;
    color: var(--white);
}
.hidden:hover{    
    color:var(--selective-yellow);
}
.ha {
    width: 80%;
}
.seven {
    width: 80%;
}
.blowit{
    width: 81%;
}

* {
    box-sizing: border-box;
}
a:link, a:visited {
    text-decoration: none;
    color:var(--selective-yellow);
}
a:hover {
    text-decoration: underline;
}  
a:active {
    text-decoration: underline;
}  
body {    
    gap: 3rem;
    display: flex;
    margin: auto;
    font-family: 'Poppins';
    max-width: 1024px;
    background-color: var(--azul);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    width: 100%;
}
main {
    width: 100%;
    height: auto;
    display: flex;
}
.table-icon {
    padding-left: 4px;
    width: 16%;
    height: 30%;
    display: inline;
}
.nav-p{
    font-size: 18px;
    padding-left:9px;
}
.header-container {
    /* gap: 1rem; */
    /* height: 10%; */
    display: flex;
    width: 100%;
    border: solid black 2px;
    border-radius: 16px;
    margin: 0 auto;
    background-color: var(--white);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}
.container {
    border: solid black 2px;
    border-radius: 16px;
    display: flex;    
    max-height: fit-content;
    margin: 0 auto;
    width: 100%;
    height: 37rem;
    background-color: var(--white);
}
.footer-container {
    display: flex;
    border: solid black 2px;
    border-radius: 16px;
    margin: 0 auto;
    background-color: var(--white);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header-item {
    margin-left: 1px;
    margin-bottom: 5px;
    display: flex;
    width: 16%;
    /* padding-left: 1rem; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
p{
    color: var(--selective-yellow);
    font-family: 'Bebas Neue';
}
h1 {
    color: var(--selective-yellow);
}
.about > p{ 
    margin-left:1rem;
}
.card-container {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 70%;
}
.card-item {
    border: 4px solid var(--selective-yellow);
    height: 10rem;
    border-radius: 1rem;
    padding: 0.75rem;
    position: relative;    
    box-shadow: 11px 9px 4px rgba(0, 0, 0, 0.1);
}
.card-item.Brighton {
    right: 1rem;
}
.card-item:link, :visited{
    text-decoration: none;
    color:var(--selective-yellow);
}
.card-item:hover{        
    transform: scale(1.2);   
}
.nav-container {
    height: 10%;
    width: 97%;
    padding-left: 3px;
    top: 0rem;
    left: 3px;
    padding-top: 10px;
    position: fixed;
    /* width: calc(10% - 1rem); */
    display: flex;
    /* border: solid black 2px; */
    border-radius: 16px;
    /* margin: 10px
px
; */
    background-color: var(--white);
}
.nav-item {
    /* width: 70%; */
    gap: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-sideway-box {
    /*display: flex;*/
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}
.image {
    padding-bottom: 5px;
    width: auto;
    max-height: 68%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.brighton-image {
    margin-bottom: 1px;
    padding-bottom: 14px;
    width: 66px;
    max-height: 68%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.present {
    width: 80%;
}
.insta{    
    left: 1rem;
    position: relative;
     width: 2rem;   
}
.about {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
table {
    height: 20rem;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid var(--selective-yellow);
    font-family: 'Bebas Neue';
    background-color: var(--white);
    border-radius: 16px;
}
.table-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.table-item {
    height: 20%;
    display: flex;
    width: 95%;
    justify-content: center;
}
.city-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
}
.city-item{
    margin-left: 1rem;
    color: var(--selective-yellow);
}
.card-container-top {
    gap: 1rem;
    width: 674px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card-container-mid {
    gap: 1rem;
    width: 674px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card-container-low {
    width: 525px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.main-container {
    padding: 1rem;
    border: solid black 2px;
    border-radius: 16px;
    display: flex;
    max-height: auto;
    margin: 0 auto;
    width: 100%;
    /* height: 37rem; */
    background-color: var(--white);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width: 560px) {
    .main-container {
      columns: 1;
    }}